<div data-hook="admin_gift_card_form_fields" class="row clearfix">
  <div class="col-md-5">
    <%= f.field_container :email do %>
      <%= f.label :email %> <span class="required">*</span><br/>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.error_message_on :email %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= f.field_container :name do %>
      <%= f.label :name %> <span class="required">*</span><br/>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :note do %>
      <%= f.label :note %>
      <%= f.text_area :note, rows: 3, class: 'form-control' %>
      <%= f.error_message_on :note %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :variant_id do %>
      <%= f.label :variant_id, Spree.t(:value) %> <span class="required">*</span><br/>
      <%= f.select :variant_id, variants_values(@gift_card_variants), {}, class: 'form-control' %>
    <% end %>
  </div>

</div>
