<div data-hook="admin_gift_card_form_fields" class="row clearfix">
  <div class="alpha five columns">
    <%= f.field_container :email do %>
      <%= f.label :email %> <span class="required">*</span><br/>
      <% if email = request.params[:email] %>
        <%= f.text_field :email, value: email, :class => "fullwidth" %>
      <% else %>
        <%= f.text_field :email, class: "fullwidth" %>
      <% end %>
      <%= f.error_message_on :email %>
    <% end %>
  </div>

  <div class="alpha five columns">
    <%= f.field_container :name do %>
      <%= f.label :name %> <span class="required">*</span><br/>
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="omega two columns">
    <%= f.field_container :restrict_user do %>
      <%= label_tag :restrict_user, Spree.t(:restrict_user) %><br/>
      <%= check_box_tag :restrict_user %>
    <% end %>
  </div>

  <div class="clear"></div>

  <div class="alpha five columns">
    <%= f.field_container :note do %>
      <%= f.label :note %>
      <%= f.text_field :note, :class => "fullwidth" %>
      <%= f.error_message_on :note %>
    <% end %>
  </div>

  <div class="omega five columns">
    <%= f.field_container :original_value do %>
      <%= f.label :original_value, Spree.t(:value) %> <span class="required">*</span><br/>
      <%= f.text_field :original_value %>
    <% end %>
  </div>
</div>
