<fieldset id="general_fields">
  <legend><%= t(:general) %></legend>
  <%= f.field_container :email do %>
    <%= f.label :email %>
    <span class="required">*</span><br/>
    <%= f.text_field :email %>
  <% end %>
  <%= f.field_container :name do %>
    <%= f.label :name %>
    <span class="required">*</span><br/>
    <%= f.text_field :name %>
  <% end %>
  <%= f.field_container :note do %>
    <%= f.label :note %>
    <br/>
    <%= f.text_field :note %>
  <% end %>
  <%= f.field_container :variant_id do %>
    <%= f.label :variant_id, t(:value) %>
    <span class="required">*</span><br/>
    <%= f.select :variant_id, @gift_card_variants.map { |v| [v.display_price, v.id] }, {}, disabled: (f.object.present? && !f.object.new_record?) %>
  <% end %>
</fieldset>
