<h1><%= t(:editing_gift_card) %></h1>

<%= form_for @gift_card, :url => object_url, :method => :put do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>

<h2><%= t(:transactions) %><h2>
<ul>
  <% @gift_card.transactions.each do |transaction| %>
  <li><%= link_to "#{transaction.order.number}:" , admin_order_path(transaction.order) %> <%= number_to_currency transaction.amount %></li>
  <% end %>
</ul>
