<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t(:new_gift_card), spree.new_admin_gift_card_path, :icon => 'add' %>
    </li>
<% if @batch_id > 0 %>
    <li class="delete_batch">
      <%= button_link_to t(:delete_batch), { :action => "delete_my_batch_unused", :id => @gift_cards.first.id },
        { :confirm => t(:are_you_sure_delete_batch), :method => "put", :icon => "delete" }  %>
    </li>
<% end %>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:gift_cards) %></h1>

<% if @batches && @batches.length > 0 %>
<div class="spree_gift_cards_select_menu">
<%= select("spree_gift_cards", "batch_id", @batches.map { |i|
  [i.name + ": " + number_to_currency(i.original_value) + ", ID: " + i.batch_id.to_s, admin_gift_cards_path(:batch_id => i.batch_id)]
}.unshift([t(:goto_batch), ""]), {}, :onchange => "if(this.value){location=this.value}") %>
</div>
<% end %>

<% if @batch_id > 0 %>
  <h2><%= t(:batch_details)%></h2>
<ul>
  <li><b>Batch ID:</b> <%= @batch_id %></li>
  <li><b>Quantity:</b> <%= @batch_quantity %></li>
  <li><b>Value:</b> <%= number_to_currency @batch_amount %></li>
  <li><b>Export:</b> <%= link_to "Excel (CSV)", admin_gift_card_path(@gift_cards.first, :action => "show", :format => "csv", :batch_id => @batch_id) %></li>
</ul>
<% end %>

<%= paginate @gift_cards %>

<table class="index">
  <thead>
    <tr>
      <th><%= t(:code) %></th>
      <th><%= t(:original_value) %></th>
      <th><%= t(:current_value) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:note) %></th>
      <th style="width:150px;"><%= t(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |card| %>
      <tr id="<%= spree_dom_id card %>">
        <td><%= card.code %></td>
        <td><%= number_to_currency card.original_value %></td>
        <td><%= number_to_currency card.current_value %></td>
        <td><%= card.email %></td>
        <td><%= card.name %></td>
        <td><%= card.note %></td>
        <td>
          <%= link_to_edit card %> &nbsp;
          <%= link_to_delete card %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @gift_cards %>
