<table class="index">
  <thead>
    <tr>
      <th><%= Spree.t(:code) %></th>
      <th><%= Spree.t(:original_value) %></th>
      <th><%= Spree.t(:current_value) %></th>
      <th><%= Spree.t(:note) %></th>
      <th><%= Spree.t(:expiration_date) %></th>
      <th><%= Spree.t(:created_at) %></th>
      <th><%= Spree.t(:status) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @gift_cards %>
  </tbody>
</table>
