<p><%= t('.issued') %></p>
<p>
  <%= t('.current') %>: <%= @gift_card.current_value %><br/>
  <%= t('.expiration') %>: <%= @gift_card.expiration_date.to_date.to_s(:long) %><br/>
  <%= t('.code') %>: <%= @gift_card.code %>
</p>
