<% state = gift_card.expired?? Spree.t(:expired) : Spree.t(:active) %>

<tr class="gc-table-row">
  <td class="code"><%= gift_card.code %></td>
  <td class="current-value"><%= number_to_currency gift_card.current_value %></td>
  <td class="expiration-date"><%= gift_card.expiration_date.to_date.to_s(:long) %></td>
  <td class="issue-date"><%= gift_card.created_at.to_date.to_s(:long) %></td>
  <%= content_tag :td, state, class: "state state-#{state}" %>
  <td class="note"><%= gift_card.note %></td>
</tr>
